{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        org.clojure/clojurescript {:mvn/version "1.12.134"}
        org.clojure/core.async {:mvn/version "1.8.741"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "5e91ee0"}}}
  :cljs-test
  {:extra-paths ["test"]
   :extra-deps {olical/cljs-test-runner {:mvn/version "3.8.1"}}
   :main-opts ["-m" "cljs-test-runner.main" "-x" "node"]}
  :build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.9.2" :git/sha "9c9f078"}
                 io.github.clojure/tools.build
                 {:git/tag "v0.10.13" :git/sha "ae52edfe"}
                 org.clojure/tools.analyzer {:mvn/version "1.2.2"}}
          :ns-default build}}}
