{:paths ["src"]

 :deps {parinferish/parinferish {:mvn/version "0.8.0"}
        dev.weavejester/cljfmt {:mvn/version "0.15.5"}}

 :tasks
 {test {:doc "Run tests"
        :extra-paths ["test"]
        :extra-deps {io.github.cognitect-labs/test-runner
                     {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
        :task (exec 'cognitect.test-runner.api/test)
        :exec-args {:dirs ["test"]}
        :org.babashka/cli {:coerce {:nses [:symbol]
                                    :vars [:symbol]}}}}

 :bbin/bin {clj-paren-repair-claude-hook {:main-opts ["-m" "clojure-mcp-light.hook"]}
            clj-nrepl-eval {:main-opts ["-m" "clojure-mcp-light.nrepl-eval"]}
            clj-paren-repair {:main-opts ["-m" "clojure-mcp-light.paren-repair"]}}}
