{:lint-as {injest.core/x>  clojure.core/->
           injest.core/x>> clojure.core/->>
           injest.core/=>  clojure.core/->
           injest.core/=>> clojure.core/->>
           injest.core/|>  clojure.core/->
           injest.core/|>> clojure.core/->>

           injest.path/+>  clojure.core/->
           injest.path/+>> clojure.core/->>
           injest.path/x>  clojure.core/->
           injest.path/x>> clojure.core/->>
           injest.path/=>  clojure.core/->
           injest.path/=>> clojure.core/->>
           injest.path/|>  clojure.core/->
           injest.path/|>> clojure.core/->>

           injest.classical/x>  clojure.core/->
           injest.classical/x>> clojure.core/->>
           injest.classical/=>  clojure.core/->
           injest.classical/=>> clojure.core/->>
           injest.classical/|>  clojure.core/->
           injest.classical/|>> clojure.core/->>

           injest.report.path/+>  clojure.core/->
           injest.report.path/+>> clojure.core/->>
           injest.report.path/x>> clojure.core/->>
           injest.report.path/=>> clojure.core/->>}

 :hooks {:macroexpand {injest.path/+>  injest.path/+>
                       injest.path/+>> injest.path/+>>
                       injest.path/x>  injest.path/+>
                       injest.path/x>> injest.path/+>>
                       injest.path/=>  injest.path/+>
                       injest.path/=>> injest.path/+>>
                       injest.path/|>  injest.path/+>
                       injest.path/|>> injest.path/+>>}}

 :linters {:unused-binding {:level :off}
           :type-mismatch {:level :off}}}
